doctype
html
  head

  body
    include partials/header
    .container
      .row
        .col-sm
          h1 Entorno con webpack
          img(src="images/back_blue.jpg", alt="demo" class="img-fluid")
    include partials/footer