/* @font-face {
    font-family: 'Panton';
    src: url('../fonts/panton/FontfabricPantonBold.eot');
    src: url('../fonts/panton/FontfabricPantonBold.eot') format('embedded-opentype'),
            url('../fonts/panton/FontfabricPantonBold.woff2') format('woff2'),
            url('../fonts/panton/FontfabricPantonBold.woff') format('woff'),
            url('../fonts/panton/FontfabricPantonBold.ttf') format('truetype'),
            url('../fonts/panton/FontfabricPantonBold.svg#FontfabricPantonBold') format('svg');
    font-weight: 600;
    font-style: normal;
} */